@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
	--color-app-scrim: rgba(7, 12, 28, 0.2);
	--color-app-secondary: #a9a9a9;
	--color-app-disabled: #505261;

	--color-app-card: #1e2031;
	--color-app-page: #070c1c;
	--color-app-raised: #2a2c3d;

	--color-app-tint-red: rgba(236, 48, 19, 0.1);
	--color-app-tint-white: rgba(255, 255, 255, 0.1);
	--color-app-tint-green: rgba(74, 222, 128, 0.1);

	--color-app-custom-red: #ec3013;
	--color-app-custom-green: #4ade80;
	--color-app-custom-orange: #e27e04;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Archivo", sans-serif;
	background-color: var(--color-app-page);
}
